html {
    scroll-behavior: smooth;
}

#header-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../images/carousel4.jpg);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}

#parallax-section {
    background-image: url(../images/hotel.jpg);
    background-position: right bottom;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

#footer-section {
    background-color: #800020;
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}
#antiquewhitebackground {
    background-color: maroon;
}

.whitetext {
    color: white;
}
.headersocial img { 
    padding: 3px;
}